@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
/*font-family: 'Nunito', sans-serif;*/

body {
    font-family: 'Nunito', sans-serif;
    margin: 20px;
    font-size: 0.9rem;
}

h2 {
    color: #273646;
    border-bottom: 1px solid #00b361;
    font-size: 1.575rem;
    font-weight: 500;
}

h2, .search-area, table {
    margin-top: 20px;
    margin-bottom: 20px;
}

.fas {
    color: #273646;
    margin-right: 7px;
}

button .fas {
    color: white;
    margin-right: 7px;
}

.searchbar-search {
    margin-bottom: 50px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.table-header th, thead tr th, th .fas {
    background-color: #273646;
    color: white;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th.form-check  {
    text-align: center;
}

.form-check  {
    padding-left: 0.75rem;
}

.col-4 {
    padding-left: 0.75rem;
}

tr.table-item th {
    font-weight: lighter;
}

.btn-primary, .btn-secondary {
    background-color: #273646;
    border: 1px #273646;
}

.btn-primary:focus, .btn-primary:active, .btn-secondary:focus, .btn-secondary:active{
    outline: none;
    box-shadow: none;
}

.nav-link {
    color: #273646;
    font-size: 15px;
}

.form-control:focus {
    border-color: #273646;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(39, 54, 70, 0.6);
}

.modal-title {
    color: #273646;
}

.btn-primary:hover, .btn-secondary:hover {
    background-color: rgb(79, 255, 174);
    border:1px rgb(79, 255, 174) ;
    color: #273646;
}

.nav-link:hover {
    color: #259260;
}

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #ccc;
}

/* On mouse-over, add a grey background color */
.container.round:hover input ~ .checkmark,
.container.square:hover input ~ .checkmark {
    background-color: #273646;
}

/* When the checkbox is checked, add a blue background */
.container.round input:checked ~ .checkmark,
.container.square input:checked ~ .checkmark {
    background-color: rgb(79, 255, 174);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.round .checkmark {
    border-radius: 50%
}

span {
    font-family: 'Nunito', sans-serif;
    font-size: 0.9rem;
}

div.form-check {
    margin-left: 25px;
}

span.checkmark.results {
    position: relative;
    
}

th.form-check {
    display: table-cell;
}

label.container.container.square.results {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.fas.fa-file-download {
    color: white;
    margin: 0;
}

.admin-panel-content .fas {
    color: #273646;
    font-size: 52px;
    margin-bottom: 10px;
}

.admin-panel-btn {
    color: #273646;
    border: solid 1px #273646;
    background-color: white;
    height: 150px;
    width: 150px;
}

.admin-panel-btn p {
    margin-bottom: 0
}